<ion-header>
  <ion-toolbar>
    <ion-title>Explorar</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="search-bar">
    <ion-searchbar [(ngModel)]="searchText" placeholder="Buscar..." debounce="500"></ion-searchbar>
  </div>

  <div class="image-grid">
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="4" *ngFor="let image of images">
          <ion-img [src]="image.src"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
